
.nav-link{
    color: white;
    font-family: Arial;
    font-size: xx-large;
    font-weight:bold;
}





<<<<<<< HEAD
.card {
    height: 70%;
}
=======
label{
    color: white;
}
>>>>>>> bd6890089ac535b9b887f6d0e344a9bc07302b7f
