
.nav-link{
    color: white;
    font-family: Arial;
    font-size: xx-large;
    font-weight:bold;
}



.form-label{
    color: black;
}

.card-login {
    height: 70%;
    width: "33%";
    border-radius: "50px";
    border: "1px solid black";
    background-color :#a4bb64;

    margin: 5em;
}

.log-btn{
    margin: 1em;
}

