
.card{
    background-color: #0d6efd;
}
.nav-link{
    color: white;
    font-family: Arial;
    font-size: xx-large;
    font-weight:bold;
}




.box-login{
    border: 2px solid black;
    padding: 6%;
    margin-top: 9%;
    margin-left: 25%;
    margin-right: 25%;

}

label{
    color: white;
}
