
.card-register {

        height: 70%;
        width: "33%";
        border-radius: "50px";
        border: "1px solid black";
        background-color :#a4bb64;
        margin: 5em;
}
    


.form-button{
    margin: 1em;
}